body {
    background: #fff;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    color: #828282;
    font-weight: 400;
    min-width: 320px;
}

a {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #2cc7c1;
}

a:hover {
    color: #2cc7c1;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    position: relative;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

/*------------------Header--------------------*/

#header {
    background: url(../img/2.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}